<!DOCTYPE html>

<html><head>
<title>Add new radio Station</title>
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'tailwind.min.css'%}"/>
</head>

	<body>
{% include "menu.html" %}
<h1 align='center'>Add new radio station</h1>
<form action="" method="post">
	{% csrf_token %}
	<table align='center'>

		<tr><td><span class="text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black-500 align-middle">Name</span></td><td>
<div class="mb-3 pt-0">
				{{form.name}}
</div>

			</td></tr>
		<tr> <td align="center"><span class="text-sm font-medium bg-gray-100 py-1 px-2 rounded text-black-500 align-middle">Radio Url</span></td>	<td>
<div class="mb-3 pt-0">
				{{form.url}}
</div>
			</td></tr>
		<tr><td></td><td>
<button   class="bg-white-500 text-gray  font-bold uppercase text-xs px-4 py-2 rounded shadow  outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 hover:bg-black hover:text-white" type="submit" align="right">Add</button>
</td></tr>
	</table>

</form>




{%if change %}

<div
class="flex w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800"
>
<div class="flex items-center justify-center w-12 bg-green-500">
  <svg
    class="w-6 h-6 text-white fill-current"
    viewBox="0 0 40 40"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z"
    />
  </svg>
</div>

<div class="px-4 py-2 -mx-3">
  <div class="mx-3">
    <span class="font-semibold text-green-500 dark:text-green-400"
      >Success</span
    >
    <p class="text-sm text-gray-600 dark:text-gray-200">
    Your Radio station has been added !
    </p>
  </div>
</div>
</div>






{% endif %}


</body>
</html>
