<!DOCTYPE html>

<html><head>
<title>Add new radio Station</title>
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>


<style>
    

#addli{
background-color: white;
}


#adda{
color:black;
text-decoration: none;
align-items: center;
}


</style>


</head>

	<body>
{% include "menu.html" %}

 <h1>Add new radio station</h1>

<form action="" method="post">
	{% csrf_token %}





	<div class="content">



<ul class=wrapper"><li class="form-row"><label>Name:</label>{{form.name}}</li>
<li class="form-row"><label>URL:</label>{{form.url}}</li>
<li class="form-row"><label>Bandwidth:</label>{{form.bandwidth}}</li>
<li class="form-row"><button  class="button2" type="submit" align="right">Add</button></li></ul>
	</div>
	<br>
	<br>
	<br>
	<br>

		
</form>
</div>


{%if change %}
<div class="showh2">
    <h2> Sucess Radio has been added!</h2>
</div>
{% endif %}
</body>
</html>
