<!DOCTYPE html>
<html><head>
		<title>Modify Radio Configuration</title>
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>




<style>
    

#configli{
background-color: white;
}


#configa{
color:black;
text-decoration: none;
align-items: center;
}


</style>



	</head>

	<body>
{% include "menu.html" %}
<h2>Change Radio Configuration</h2>
<form action="" method="post">
	{% csrf_token %}

{%if change %}
<div class="showh2">
    <h2> Sucess Radio Config has been modified !</h2>
</div>
{% endif %}


	<div class="content">



<ul class=wrapper">
	<li class="form-row"><label>Frequency:</label>{{form.frecuency}}</li>
<li class="form-row"><label>Homelocation:</label>{{form.homelocation}}</li>
<li class="form-row"><label>DMA Channel 3 works only modify if not working :</label>{{form.dma_channel}}</li>






<li class="form-row"><button  class="button2" type="submit" align="right">Modify</button></li></ul>
	</div>

<br>
<br>
<br>

		
</form>






</body>
</html>
