<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Delete Internet Radio"
      content="Delete Internet Radio"
    />
    <meta name="robots" content="index,follow" />




<title>Delete Internet Radios</title>
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>


<style>
    

#delli{
background-color: white;
}


#dela{
color:black;
text-decoration: none;
align-items: center;
}


</style>


</head>

	<body>



{% include "menu.html" %}

<h1>Delete Internet Radio</h1>
<table>
<th>Radio Name</th><th>Slide Switch to Delete</th>
{%for radio in radios %}
<tr><td>{{ radio.name}}</td> 
	<td>
		DEL
		<br>
<form action="" method="post">
{% csrf_token %}
<label class="switch"><input type="checkbox" name="id" value={{radio.id}} onChange='submit()' >
<span class="slider round"></span></label>
</form>
</td>
</tr>
{% endfor %}
</table>
</body>
</html>
