<!DOCTYPE html>

<html><head>
		<title>Modify existing station</title>
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>



<style>
    

#exportli{
background-color: white;
}


#exporta{
color:black;
text-decoration: none;
align-items: center;
}
</style>

	</head>

	<body>


{% include "menu.html" %}

{%if change %}
<div class="maurilink">
<h1>Data has been exported to {{ home }}radios.csv !</h1>
<a  href='/download'><b>Click Here to download the file</b></a>
</div>
{% endif %}




</body>
</html>
