<!DOCTYPE html>

<html><head>
<title>House Lights</title>
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="Lights for house"
    />
    <meta name="robots" content="index,follow" />
</head>

	<body>
		<header>
		</header>
		<div>
<h1>House Lights</h1>
		<table>
<th>Room Name</th><th>Toggle</th>
<tr><td>mauri Room</td> <td> 									     
<form action="" method="post">
{% csrf_token %}
<label class="switch"><input type="checkbox" name="id" value=1 onChange='submit()' >
<span class="slider round"></span></label>
</form>
</td>
</tr>

<tr><td>Dad</td> <td><br> 									     
<form action="" method="post">
{% csrf_token %}
<label class="switch"><input type="checkbox" name="id" value=2 onChange='submit()' >
<span class="slider round"></span></label>
</form>
	</td>
</tr>
<tr><td>Afuera</td> <td><br> 									     
<form action="" method="post">
{% csrf_token %}
<label class="switch"><input type="checkbox" name="id" value=3 onChange='submit()' >
<span class="slider round"></span></label>
</form>
</td>
</tr>
</table>
		</div>
</body>
</html>
