
{% load static %} 
<!-- This example requires Tailwind CSS v2.0+ -->

<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>


<nav>
<img class="logo1" src="{% static 'blue_radio.jpg'%}">
	<ul>
		<li id="playli"><a id="playa" href="/">Play Radios</a></li>
		<li id="addli"><a id="adda" href="/add">Add Radios</a></li>
		<li id="delli"><a id="dela" href="/del">Delete Radios</a></li>
		<li id="modli"><a id="moda" href="/modify">Modify Radios</a></li>
		<li id="configli"><a id="configa" href="/config">Radio Config</a></li>
		<li id="exportli"><a id="exporta" href="/export">Exports Radios CSV</a></li>
	</ul>
	    <img class="logo2" src="{% static 'blue_radio.jpg'%}">
</nav>
<br>

