<!DOCTYPE html>

<html><head>
		<title>Modify existing station</title>
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'static.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>
		<script>
function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
		</script>


{% block javascript %}
  <script>

$(document).ready(function () {

		  $("#idselectbox").change(function () {
      var id=$(this).val();
 $.ajax({
        url: '/ajax/',
        type: "POST",
        data: {
            id: id
        },
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function (data) {
			  console.log(data.id);
            console.log(data.name);
            console.log(data.bandwidth);
var newText ='<input type="hidden"  name="id" value="'+data.id+'">';
var newText2 ='<ul class=wrapper"><li class="form-row"><label>Name:</label><input type="text" name="name" value="'+data.name+'"></li>';
var newText3 ='<li class="form-row"><label>Url:</label><input type="text" name="url"   value="'+data.url+'"></li>';
var newText4 ='<li class="form-row"><label>Bandwidth:</label><input type="text" name="bandwidth"   value="'+data.bandwidth+'"></li>';
var newText5='<li class="form-row"><button  class="button2" type="submit" align="right">Modify</button></li></ul>';
		newText=newText+newText2+newText3+newText4+newText5;
    //Change the text using the text method.
    $('#ajaxform').html(newText);
        },
        error: function (error) {
            console.log(error);
        }
    });
	      });





		  $("#idselectbox").ready(function () {
      var id=$(this).val();
 $.ajax({
        url: '/ajax/',
        type: "POST",
        data: {
            id: id
        },
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        success: function (data) {
			  console.log(data.id);
            console.log(data.name);
var newText ='<input type="hidden"  name="id" value="'+data.id+'">';
var newText2 ='<ul class=wrapper"><li class="form-row"><label>Name:</label><input type="text" name="name" value="'+data.name+'"></li>';
var newText3 ='<li class="form-row"><label>Url:</label><input type="text" name="url"   value="'+data.url+'"></li>';
var newText4 ='<li class="form-row"><label>Bandwidth:</label><input type="text" name="bandwidth"   value="'+data.bandwidth+'"></li>';
var newText5='<li class="form-row"><button  class="button2" type="submit" align="right">Modify</button></li></ul>';
newText=newText+newText2+newText3+newText4+newText5;
    //Change the text using the text method.
    $('#ajaxform').html(newText);
        },
        error: function (error) {
            console.log(error);
        }
    });
	      });




	  });





  </script>

{% endblock %}




<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>
<style>
    

#modli{
background-color: white;
}


#moda{
color:black;
text-decoration: none;
align-items: center;
}


</style>




	</head>

	<body>
{% include "menu.html" %}
<header class="head">
<h1>Select radio from the list to modify</h1>
<select name='selectbox' id='idselectbox'>
{%for radio in radios %}
<option value='{{radio.id}}'>{{radio.name}}</option>
{% endfor %}  
</select>
</header>
<br>
<section class="content">
	<form action="" method="post">
	{% csrf_token %}
	<div id='ajaxform'> </div>
</form>
</section>

{%if change %}
<h2>Changes have been saved</h2>
{% endif %}
</body>
</html>
