<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Internet FM Radio"
      content="Internet FM Radio"
    />
    <meta name="robots" content="index,follow" />
{% load static %} 
<script src="{%static 'jquery-3.6.0.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}"/>

<link rel="stylesheet" type="text/css" href="{%static 'switch.css'%}"/>
<title>Internet Radio FM Transmitter</title>


<style>
    

#playli{
background-color: white;
}


#playa{
color:black;
text-decoration: none;
align-items: center;
}


</style>


	</head>
	<body> 
{% include "menu.html" %}
<h1> Internet Radio FM Transmitter </h1>


{%for radio in radios %}
{% if radio.state == "ON" %} 
<div class="kittparent">
 <h2 class="h2animation">Currently Transmitting on {{frecuency}} MHZ FM</h2>
 <div class="matrix">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
 </div>
</div>
{% endif %}
{% endfor %}
<table>
<th>Radio Name</th><th>Status</th>
{%for radio in radios %}
<tr><td>{{ radio.name}}</td> <td>{{radio.state}}<br> 									     
<form action="" method="post">
{% csrf_token %}
{%if radio.state == "ON" %} 
<label class="switch"><input type="checkbox" name="radio_reset" checked onChange='submit()'>
<span class="slider round"></span></label>
{% else %}
<label class="switch"><input type="checkbox" name="id" value={{radio.id}} onChange='submit()' >
<span class="slider round"></span></label>
 {% endif %}
</td>
</form>
</tr>
{% endfor %}
</table>
</body>
</html>
