* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  width:100%;
}
div{
width: 100%;
min-height: 80vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), */
/* url("lights.jpg"); */
background-repeat: no-repeat;
background-position: center;
background-size:cover;
}

table {
width: 80%;
text-align: center;
font-size:2.8rem;
}


tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: black;
  color: white;
  text-align:center;
}


h1 {
width: 80%;
text-align: center;
font-size: 3rem;
background-color:lightgray;
}

@media (max-width:500px){
html{

  font-size: 40%;
}
}
